{% extends 'base.html' %}

{% block title %}Добавить модель{% endblock %}

{% block content %}
<div class="container">
    <h2>Добавить модель для {{ brand.name }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'brand_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
